{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block title %}דף הבית{% endblock %}

{% block content %}
</br></br><div class="row">
	<!-- Card filter start -->
	<div class="col-lg-3 card-text-right">
		<div class="card mb-3">
			<h3 class="card-header">פילטר</h3>
			<div class="card-body card-text-right">
				<div class="form-group" id="fullName">
					<label class="col-form-label mt-2">שם מלא</label>
					<div class="container">
						<select class="selectpicker" multiple data-live-search="true">
							<option value="1">נאור אור ציון</option>
							<option value="2">אליס פבזנר</option>
						</select>
					</div>
				</div>
				<div class="form-group" id="room">
					<label class="col-form-label mt-2">חדר</label>
					<div class="container">
						<select class="selectpicker" multiple data-live-search="true">
							<option value="1">120</option>
							<option value="2">121</option>
							<option value="3">122</option>
							<option value="4">123</option>
							<option value="5">124</option>
							<option value="6">125</option>
						</select>
					</div>
				</div>
				<div class="form-group" id="frame">
					<label class="col-form-label mt-2">מסגרת</label>
					<div class="container">
						<select class="selectpicker" multiple data-live-search="true">
							<option value="None" selected>ללא</option>
							<option value="מעטפת">מעטפת</option>
							<option value="תכנות כחול">תכנות כחול</option>
							<option value="תכנות אדום">תכנות אדום</option>
							<option value="תכנות צהוב">תכנות צהוב</option>
							<option value="תכנות ירוק">תכנות ירוק</option>
							<option value="דאטה">דאטה</option>
							<option value="SRE">SRE</option>
							<option value="DevOps">DevOps</option>
							<option value="QA">QA</option>
							<option value="מגן סייבר א">מגן סייבר א</option>
							<option value="מגן סייבר ב">מגן סייבר ב</option>
							<option value="לוגיסטיקה">לוגיסטיקה</option>
							<option value="אחר">אחר</option>
						</select>
					</div>
				</div>
				<div class="form-group" id="gender-filter">
					<label class="col-form-label mt-2">מגדר החדר</label>
					<div class="form-group" role="group" aria-label="Basic radio toggle button group">
						<input type="radio" class="btn-check" name="btnradio" id="btn-radio-filter1" autocomplete="off">
						<label class="btn btn-outline-info" for="btn-radio-filter1" dir="rtl">זכר</label>
						<input type="radio" class="btn-check" name="btnradio" id="btn-radio-filter2" autocomplete="off">
						<label class="btn btn-outline-secondary" for="btn-radio-filter2" dir="rtl">נקבה</label>
						<input type="radio" class="btn-check" name="btnradio" id="btn-radio-filter3" autocomplete="off">
						<label class="btn btn-outline-primary" for="btn-radio-filter3" dir="rtl">טראנס</label>
						<input type="radio" class="btn-check" name="btnradio" id="btn-radio-filter4" autocomplete="off" checked="">
						<label class="btn btn-outline-dark" for="btn-radio-filter4" dir="rtl">ללא</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Card filter end -->
	<div class="col-lg-9">
		<div id="accordion">
			{% if buildings %}
				{% for building in buildings %}
				<!-- Card start -->
				<div class="card">
					<div class="card-header card-text-right" id="heading-{{ building['building_id'] }}">
						<h5 class="mb-0">
							<button class="btn btn-primary" data-toggle="collapse" data-target="#collapse-{{ building['building_id'] }}" aria-expanded="true" aria-controls="collapse-{{ building['building_id'] }}"> בניין {{ building['building_id'] }} </button>
						</h5>
					</div>
					<div id="collapse-{{ building['building_id'] }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body text-right" dir="rtl">
							{% if apartments %}
								{% for apartment in apartments %}
									{% if apartment['building_id'] == building['building_id'] %}
										<!-- Button trigger modal start -->
										<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#roomModal-{{ apartment['apt_id'] }}"> דירה {{ apartment['apt_id'] }} </button>
										<!-- Button add room start -->
									{% endif %}
								{% endfor %}
							{% endif %}

							<!-- Button add room start -->
							<button type="button" class="btn btn-outline-secondary send-building-id" data-toggle="modal" data-target="#roomModal" data-id="{{ building['building_id'] }}"> + </button>
							<!-- Button add room end -->

							
						</div>
					</div>
				</div>
				</br>
				<!-- Card end -->
				{% endfor %}
			{% endif %}

			<!-- Card add building start -->
			<div class="card">
				<div class="card-header card-text-right" id="headingThree">
				<h5 class="mb-0">
					<button class="btn btn-outline-primary" data-toggle="modal" data-target="#buildingModal"> + </button>
				</h5>
				</div>
			</div>
			</br>
			<!-- Card add building end -->
		
			<!-- Modal new building start -->
			<div class="modal fade" id="buildingModal" tabindex="-1" role="dialog" aria-labelledby="buildingModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content card-text-right">
						<form method="POST" action="{{ url_for('new_building') }}">
							<div class="modal-header">
								<h5 class="modal-title" id="buildingModalLabel">יצירת בניין חדש</h5>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="col-form-label col-form-label-lg">מספר הבניין החדש</label>
									{{ newBuildingForm.hidden_tag() }}
									{{ newBuildingForm.title(class="form-control form-control-lg", type="number", placeholder="לדוגמה 71", dir="rtl") }}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">סגירה</button>
								<button type="submit" class="btn btn-primary" name="submit-new-building">שמירת שינויים</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Modal new building end -->
			<!-- Modal existing rooms start -->
			{% if apartments %}
    			{% for apartment in apartments %}
					<div class="modal fade" id="roomModal-{{ apartment['apt_id'] }}" tabindex="-1" role="dialog" aria-labelledby="roomModalLabel-{{ apartment['apt_id'] }}" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content card-text-right">
								<div class="modal-header">
									<h5 class="modal-title" id="roomModalLabel-{{ apartment['apt_id'] }}">דירה {{ apartment['apt_id'] }}</h5>
								</div>
								<div class="modal-body">
									<input type="hidden" name="building-id" id="building-id" value="{{ apartment['building_id'] }}"/>
									
									<div class="form-group">
										<label class="col-form-label col-form-label-lg">מספר הדירה</label>
										{{ newApartmentForm.hidden_tag() }}
										{{ newApartmentForm.apt_id(class="form-control form-control-lg", type="number", placeholder="לדוגמה 120", dir="rtl", value=apartment['apt_id']) }}
									</div>

									<!-- Gender selection start -->
									<div class="form-group" id="gender">
										<label class="col-form-label col-form-label-lg">מגדר הדירה</label>
										<div class="form-group" role="group" aria-label="Basic radio toggle button group">
											{% set is_checked_male = "" %}
											{% set is_checked_female = "" %}
											{% set is_checked_unknown = "" %}
											{% if apartment['gender'] == 'זכר' %}
												{% set is_checked_male = 'checked' %}
											{% elif apartment['gender'] == 'נקבה'%}
												{% set is_checked_female = 'checked' %}
											{% elif apartment['gender'] == 'אחר' %}
												{% set is_checked_unknown = 'checked' %}
											{% endif %}
											<input value="זכר" type="radio" class="btn-check" name="btnradio-home-{{ apartment['apt_id'] }}" id="btnradio1-home-{{ apartment['apt_id'] }}" autocomplete="off" {{ is_checked_male }}>
											<label class="btn btn-outline-info" for="btnradio1-home-{{ apartment['apt_id'] }}" dir="rtl">זכר</label>
											<input value="נקבה" type="radio" class="btn-check" name="btnradio-home-{{ apartment['apt_id'] }}" id="btnradio2-home-{{ apartment['apt_id'] }}" autocomplete="off" {{ is_checked_female }}>
											<label class="btn btn-outline-secondary" for="btnradio2-home-{{ apartment['apt_id'] }}" dir="rtl">נקבה</label>
											<input value="אחר" type="radio" class="btn-check" name="btnradio-home-{{ apartment['apt_id'] }}" id="btnradio3-home-{{ apartment['apt_id'] }}" autocomplete="off" {{ is_checked_unknown }}>
											<label class="btn btn-outline-primary" for="btnradio3-home-{{ apartment['apt_id'] }}" dir="rtl">אחר</label>
										</div>
									</div>
									<!-- Gender selection end -->

									<!-- Rooms quantity start -->
									<div class="form-group">
										<label for="roomSelection-{{ apartment['apt_id'] }}" class="form-label mt-4">מספר חדרי שינה בדירה</label>
										<select class="form-select" value="{{ apartment['rooms_in_apt'] }}" name="roomSelection-{{ apartment['apt_id'] }}" id="roomSelection-{{ apartment['apt_id'] }}" style="width:15%" onfocus="this.selectedIndex = -1;"  onchange="createRoomSetting(`{{ apartment['apt_id'] }}`, this.value, `roomsSettings-{{ apartment['apt_id'] }}`);">
											<option>0</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
										</select>
										<br>
									</div>
									<!-- Rooms quantity end -->

									<!-- Room settings start -->
									<div class="form-group" id="roomsSettings-{{ apartment['apt_id'] }}"></div>
									<!-- Room settings end -->
									<script>
										document.addEventListener('DOMContentLoaded', function () {
											const selectElement = document.querySelector("#roomSelection-{{ apartment['apt_id'] }}");
											const optionElements = selectElement.querySelectorAll('option');
											const roomsInApt = "{{ apartment['rooms_in_apt'] }}";
											optionElements.forEach(optionElement => {
												if (optionElement.value === roomsInApt) {
													optionElement.selected = true;
												}
											});
											createRoomSetting(`{{ apartment['apt_id'] }}`, `{{ apartment['rooms_in_apt'] }}`, `roomsSettings-{{ apartment['apt_id'] }}`);
										});
									</script>
								</div>
								{% if rooms %}
									{% for room in rooms %}
										{% set bunk_beds_quantity_in_room = room['bunk_beds'] %}
										{% set aminach_beds_quantity_in_room = room['aminach_beds'] %}

										{% for bunk_bed in bunk_beds %}
											{% if bunk_bed['apt_id'] == room['apt_id'] and bunk_bed['room_id'] == room['room_id'] %}
												{% set bunk_bed_person1 = bunk_bed['person1'] %}
												{% set bunk_bed_person2 = bunk_bed['person2'] %}
											{% endif %}
										{% endfor %}

										{% for aminach_bed in aminach_beds %}
											{% if aminach_bed['apt_id'] == room['apt_id'] and aminach_bed['room_id'] == room['room_id'] %}
												{% set aminach_bed_person1 = aminach_bed['person1'] %}
											{% endif %}
										{% endfor %}
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			<!-- Modal existing rooms end -->

			<!-- Modal new room start -->
			<div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="roomModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content card-text-right">
						<form method="POST" action="{{ url_for('new_apartment') }}">
							<div class="modal-header">
								<h5 class="modal-title" id="roomModalLabel">יצירת חדר חדש</h5>
							</div>
							<div class="modal-body">
								<input type="hidden" name="building-id" id="building-id" value=""/>

								<div class="form-group">
									<label class="col-form-label col-form-label-lg">מספר החדר החדש</label>
									{{ newApartmentForm.hidden_tag() }}
									{{ newApartmentForm.apt_id(class="form-control form-control-lg", type="number", placeholder="לדוגמה 120", dir="rtl") }}
								</div>

								<!-- Gender selection start -->
								<div class="form-group" id="gender">
									<label class="col-form-label col-form-label-lg">מגדר החדר</label>
									<div class="form-group" role="group" aria-label="Basic radio toggle button group">
										<input value="זכר" type="radio" class="btn-check" name="btnradio-home" id="btnradio1-home" autocomplete="off">
										<label class="btn btn-outline-info" for="btnradio1-home" dir="rtl">זכר</label>
										<input value="נקבה" type="radio" class="btn-check" name="btnradio-home" id="btnradio2-home" autocomplete="off">
										<label class="btn btn-outline-secondary" for="btnradio2-home" dir="rtl">נקבה</label>
										<input value="אחר" type="radio" class="btn-check" name="btnradio-home" id="btnradio3-home" autocomplete="off">
										<label class="btn btn-outline-primary" for="btnradio3-home" dir="rtl">אחר</label>
									</div>
								</div>
								<!-- Gender selection end -->

								<!-- Rooms quantity start -->
								<div class="form-group">
									<label for="roomSelection" class="form-label mt-4">מספר חדרי שינה בדירה</label>
									<select class="form-select" name="roomSelection" id="roomSelection" style="width:15%" onchange="createRoomSetting();" onfocus="this.selectedIndex = -1;">
										<option selected>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
									</select>
									<br>
								</div>
								<!-- Rooms quantity end -->
								
								<!-- Room settings start -->
								<div class="form-group" id="roomsSettings"></div>
								<!-- Room settings end -->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">סגירה</button>
								{{ newBuildingForm.submit(class="btn btn-primary") }}
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Modal new room end -->
		</div>
	</div>
</div>
    
{% endblock %}